@font-face {
    font-family: 'MuseoSans';
    src: url('/webfonts/MuseoSans_500-webfont.eot');
    src: url('/webfonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
    url('/webfonts/MuseoSans_500-webfont.woff') format('woff'),
    url('/webfonts/MuseoSans_500-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('/webfonts/MuseoSans_500-webfont.eot');
    src: url('/webfonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
    url('/webfonts/MuseoSans_500-webfont.woff') format('woff'),
    url('/webfonts/MuseoSans_500-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('/webfonts/MuseoSans_700-webfont.eot');
    src: url('/webfonts/MuseoSans_700-webfont.eot?#iefix') format('embedded-opentype'),
    url('/webfonts/MuseoSans_700-webfont.woff') format('woff'),
    url('/webfonts/MuseoSans_700-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}