
@mixin animate-transition($transition: all, $duration: 200ms, $timing: ease, $delay: 0s) {
    -moz-transition: $transition $duration $timing $delay;
    -ms-transition: $transition $duration $timing $delay;
    -webkit-transition: $transition $duration $timing $delay;
    transition: $transition $duration $timing $delay;
}

@mixin keyframes($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }
    @-moz-keyframes $animation_name {
        @content;
    }
    @-ms-keyframes $animation_name {
        @content;
    }
    @-o-keyframes $animation_name {
        @content;
    }
    @keyframes $animation_name {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

