.primary-header {
    width: 100%;
    background: #fff;
}

.primary-navigation {
    font-size: 12px;
    width: 100%;
    position: relative;

    .logo {
        position: relative;
    }

    h1 {
        text-indent: -9999px;
        @include sprite-background-image('header-logo', true, 0, 0, true);
        background-size: 164px;
        width: 164px;
        height: 69px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .main-menu > li {
        float: left;
    }

    .sub-navigation {
        background: $beige;
        font-size: 11px;
        padding: 15px 0 80px;
        width: 100%;
        left: 0;
        top: 77px;
        overflow: hidden;
        position: absolute;
        opacity: 0;
        -webkit-transition: opacity .5s;
        transition: opacity .5s;

        ul {
            float: left;
            margin-right:40px;

            &:last-child {
                margin-right: 0;
            }
        }

        .nav-header a {
            line-height: 25px;
        }

        a {
            line-height: 20px;
        }
    }

    .dimension {
        width: 950px;
        float: right;
    }

    .top-level > a,
    .nav-header {
        text-transform: uppercase;
        font-weight: 700;
    }

    .top-level {
        &:hover .sub-navigation {
            opacity: 1;
        }


        & > a {
            line-height: 65px;
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}